<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta http-equiv="Pragma" content="no-cache">
    <title>Title</title>
    <script src="static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="static/socket.io.min.js"></script>
    <script src="static/Chart.bundle.js"></script>
    <script src="static/js/application.js"></script>

</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>RT model of sensor data</h1>
  </div>
</div>

<canvas id="myChart_load" width="200" height="200"></canvas>
<canvas id="myChart_virtMemUsed" width="200" height="200"></canvas>

<script>

</script>

</body>
</html>
